{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<div id="large-header" class="large-header">
  <canvas id="demo-canvas"></canvas>
</div>

  <div class="envelope sth">
    <div class="universe">
      <div class="in"></div>
    </div>
    <div class="flashlight">
      <div class="more-shine"></div>
    </div>
    <div class="logo">
      <div class="layer p1"></div>
      <div class="layer p2"></div>
      <div class="layer p3"></div>
      <div class="sob">
        <span>Introducing</span>
      </div>
      <div class="name">
        <span>Flashlight Duty</span>
      </div>
      <div class="sub">
        <span>Are you ready brah?</span>
      </div>
      <a href="https://github.com/omaracrystal/flash_light_duty" target="_blank" class="subsub" id="ct" data-cont="Saiba mais">Play</a>
      <i class="icon-off"></i>
    </div>
  </div>

{% endblock %}
